{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
    <title>{{.Title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
<link rel="stylesheet" media="screen" href="http://{{.HostName}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="http://{{.HostName}}/assets/css/bootstrap-theme.min.css">

<!-- Bootstrap Admin Theme -->
<link rel="stylesheet" media="screen" href="http://{{.HostName}}/assets/css/bootstrap-admin-theme.css">
<link rel="stylesheet" media="screen" href="http://{{.HostName}}/assets/css/bootstrap-admin-theme-change-size.css">

<!-- Vendors -->
<link rel="stylesheet" media="screen" href="http://{{.HostName}}/assets/vendors/easypiechart/jquery.easy-pie-chart.css">
<link rel="stylesheet" media="screen" href="http://{{.HostName}}/assets/vendors/easypiechart/jquery.easy-pie-chart_custom.css">
<link rel="stylesheet" href="http://{{.HostName}}/assets/css/jquery-ui.min.css" id="style_color-header-1">  
<link rel="stylesheet" href="http://{{.HostName}}/assets/css/jquery.dataTables.css" id="style_color-header-1">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
   <script type="text/javascript" src="http://{{.HostName}}/assets/js/html5shiv.js"></script>
   <script type="text/javascript" src="http://{{.HostName}}/assets/js/respond.min.js"></script>
<![endif]-->
    </head>
    <body class="bootstrap-admin-with-small-navbar">
<!-- small navbar -->
<nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar-sm" role="navigation">
    <div class="container">
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left bootstrap-admin-theme-change-size">
<li class="text">Change size:</li>
<li><a class="size-changer small">Small</a></li>
<li><a class="size-changer large active">Large</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="http://{{.HostName}}/reports/financial">Reports</a></li>
    <!-- <li><a href="#">Link</a></li> -->
<li>
    <a href="#">Reminders <i class="glyphicon glyphicon-bell"></i></a>
</li>
<li>
    <a href="#">Settings <i class="glyphicon glyphicon-cog"></i></a>
</li>
<li>
<a href="http://naturalcandlesupply.com.au">Go to frontend <i class="glyphicon glyphicon-share-alt"></i></a>
</li>
<!--
<li class="dropdown">
    <a href="#" role="button" class="dropdown-toggle" data-hover="dropdown"> <i class="glyphicon glyphicon-user"></i> Username <i class="caret"></i></a>
    <ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li role="presentation" class="divider"></li>
<li><a href="index.html">Logout</a></li>
    </ul>
    </li>
-->

<li>
<a href="http://{{.HostName}}/logout">Log Out<i class="glyphicon glyphicon-share-alt"></i></a>
</li>
    </ul>
</div>
    </div>
</nav>

<!-- main / large navbar -->
<nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar bootstrap-admin-navbar-under-small" role="navigation">
    <div class="container">
<div class="row">
    <div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a class="navbar-brand{{if eq .MenuActive "index"}} active{{end}}" href="http://{{.HostName}}">Admin Panel</a>
    </div>
    <div class="collapse navbar-collapse main-navbar-collapse">
	    <ul class="nav navbar-nav">

<li {{if eq .MenuActive "warehouse"}}class="active"{{end}}class="dropdown">
<a href="#" class="dropdown-toggle" data-hover="dropdown">Warehouse Reports<b class="caret"></b></a>
<ul class="dropdown-menu">
    <li role="presentation" class="dropdown-header">Warehouse Reports</li>
    <li><a href="http://{{.HostName}}/reports/warehouse/lateDelivery">Late Delivery Report</a></li>
</ul>
</li>

<li {{if eq .MenuActive "crm"}}class="active"{{end}}class="dropdown">
<a href="#" class="dropdown-toggle" data-hover="dropdown">CRM<b class="caret"></b></a>
<ul class="dropdown-menu">
    <li role="presentation" class="dropdown-header">Customer Service</li>
    <li><a href="http://{{.HostName}}/reports/sales">Abandoned Cart Report</a></li>
</ul>
</li>


<li {{if eq .MenuActive "sales"}}class="active"{{end}}class="dropdown">
<a href="#" class="dropdown-toggle" data-hover="dropdown">Sales Reports<b class="caret"></b></a>
<ul class="dropdown-menu">
    <li role="presentation" class="dropdown-header">Sales Reports</li>
    <li><a href="http://{{.HostName}}/reports/sales">Product Sales Reports</a></li>
    <li><a href="http://{{.HostName}}/reports/sales/monthly">Monthly Reports</a></li>
    <li><a href="http://{{.HostName}}/reports/sales/missingOrders">Missing Order Reports</a></li>
</ul>
</li>

<li {{if eq .MenuActive "user"}}class="active"{{end}}class="dropdown">
<a href="http://{{.HostName}}/user/admin">User Admin<i class="glyphicon glyphicon-share-alt"></i></a>
</li>

</ul>
    </div><!-- /.navbar-collapse -->
</div>
    </div><!-- /.container -->
</nav>

<div class="container">
    <!-- left, vertical navbar & content -->
    <div class="row">
<!-- left, vertical navbar -->
<!--
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
<li>
    <a href="about.html"><i class="glyphicon glyphicon-chevron-right"></i> About</a>
</li>
<li class="active">
    <a href="dashboard.html"><i class="glyphicon glyphicon-chevron-right"></i> Dashboard</a>
    </li>
       <li class="disabled">
   <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Calendar</a>
   </li>
      <li class="disabled">
    <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Statistics (Charts)</a>
    </li>

  <li class="disabled">
    <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Statistics (Charts)</a>
    </li>

  <li class="disabled">
    <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Statistics (Charts)</a>
    </li>

  <li class="disabled">
    <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Statistics (Charts)</a>
    </li>
    </ul>
-->
    </div>
{{end}}
